* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  body {
    min-height: 100vh;
  }
  .container {
  max-width: 90vw;
  margin: auto;
  }
header{
    overflow: hidden;
    nav{
        // margin-top: 10px;
        .container{
            display:flex;
            justify-content: space-between;
            .logo{
                font-size: 32px;
                font-weight: 100;
                z-index: 100;
                @media screen and (max-width: 845px) {
                    font-size:20px;
                    font-weight: bold;
                }
            }
            a{
                padding-top: 25px;
                text-decoration: none;
                color: #000;
                font-size:15px;
                opacity: 0.7;
                @media screen and (max-width: 578px) {
                    display: none;
                }
            }
            ul{
                padding-top:12px;
                list-style: none;
                display: flex;
                justify-content: space-between;
                gap: 60px;
                li{
                    opacity: 0.7;
                    padding-top: 15px;
                    display: block;
                    align-items: center;
                    font-size: 15px;
                    .nav-link{
                        text-decoration: none !important;
                        color: black;
                    }
                    svg{
                        width: 12px;
                        vertical-align:middle;
                    }
                    &:hover{
                        .list-nav {
                            display:flex !important;
                            position: absolute;
                            background-color: white;
                            width: 100px;;
                            margin:auto !important;
                            border: 1px;
                            box-shadow: -1px -1px 41px -18px rgba(0,0,0,0.35) !important;
                            border-radius: 5%;
                            li{
                                margin: auto;
                            }
                        }   
                    }
                    .list-nav{
                        display: none !important;
                        }
                }
                @media screen and (max-width: 578px) {
                    display: none;
                }
            }
        }
    }
}
.mobile-mnue{
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 22;
    transition: 1s;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    transform:  translate(-100%);
    ul {
      list-style: none;
      li {
        margin-bottom: 20px;
        font-size: 50px;
        text-align: center;
        transition: 0.5s;
        &:hover {
          transform: translatex(-1px);
        }
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
}
.hamburger-btn {
    display: none;
    z-index: 200;
  
    @media screen and (max-width: 720px) {
      display: block;
    }
  }
  .active {
    transform:  translatex(0);
  }
  
  .hamburger {
    z-index: 23 !important;
    display: none;
    @media screen and (max-width: 578px) {
      display: block;
    }
  }
  .cover{
      max-width: 100%;
      object-fit: cover;
      overflow: hidden;
      max-height: 90vh;
      img{
          filter:brightness(0.5);
          object-fit: cover;
      }

  }
.container{
  .headings{
    text-align:center;
    margin: 120px auto;
    font-size: 40px;
    width: 55%;
  }
  .section-title{
    font-size: 35px;
    text-align:center;
  }

}
.btn{
  border-radius: 10px;
  background-color: white;
  border:2px solid black;
  width: 35%;
  height: 10%;
  margin-top: 25px;
}
section{
  margin-top:20vh;
  .card-group{
    display:flex;
    justify-content: space-between;
    margin:auto;
    gap: 10px;
    .card{
      .card-title{
        font: size 20px;
      }
      img{
        width:100%;
        overflow: hidden;
        object-fit: cover;
      }
    }
  }
}
hr{
  margin-top: 20vh;
}
.Instagram-title{
  justify-content: space-between;
  padding-top: 20vh;
  display:block;
  margin: auto;
  font-size:40px;
  text-align:center;
} 
.Instagram{
  display: flex;
  gap: 82px;
  display:flex;
  justify-content: space-between;
  .big-img{
    img{
      max-height: 522px;
    }
  }
  .grid{  
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    gap: 50px;
    margin:auto;
    align-items: center;
    img{
      padding-bottom: 20px;
      max-width: 245px !important;
      max-height: 245px !important;
      object-fit: cover;
      overflow: hidden;
    }
  }
}
footer{
  border-top:1px solid rgba(0, 0, 0, 0.26);
  .container{
    padding-top: 10vh ;
    padding-bottom:10vh;
    display:flex;
    justify-content: space-between;
    width:30%;
    div{
      opacity: 0.7 ;
    }
  }

}